<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="${applicationName}"
        android:label="stylish"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:label">
        <!-- Other components like activities, services, etc. -->
    </application>
</manifest>
